.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.mobile-number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-number p {
  margin: 0;
}
